@media (max-width: 480px) {
  /* Contact form ----------------------------------------------------*/#contactForm #comments {
    width: 310px;
  }
  .hero-unit {
  padding: 20px;
  margin-bottom: 5px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 30px;
  line-height: 1;
  color: inherit;
  letter-spacing: -1px;
}
.hero-unit p {
  font-size: 16px;
  font-weight: 200;
  line-height: 27px;
  margin: 0px;
  color: inherit;
}
  
}
@media (max-width: 767px) {
  /* Contact form ----------------------------------------------------*/#contactForm #comments {
    width: 310px;
  }
  body .navbar .nav > li > a,
  .navbar .dropdown-menu a {
    color: #fff;
    text-shadow: none;
    font-weight: light;
    font-size: 12px;
  }
  .sidebar {
  	display: none;
  }
  .navbar .nav > li > a:hover {
  	color: #fff;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* Contact form ----------------------------------------------------*/#contactForm #comments {
    width: 360px;
  }
  .span9 {
    width: 692px;
  }
  .span3 {
    width: 190px;
  }
}

@media (max-width: 979px) {
  .sidebar {
  	display: none;
  }
  .navbar .nav > li > a:hover {
  	color: #fff;
  }
}

@media (min-width: 1200px) {
  .span9 {
    width: 760px;
  }
  .span3 {
    width: 190px;
  }
}
